<h1>Tu pago se realizó con éxito!</h1>

<p>
<ul>
    <li>Preference ID: {{preference_id}}</li>
    <li>Collection ID: {{collection_id}}</li>
    <li>External Reference: {{external_reference}}</li>
</ul>
</p>